*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    padding-left: 0;
}

nav{
    margin: 10px;
    width: 500px;
    height: 80px;
    background-color: aquamarine;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    width: 400px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main > li{
    width: 70px;
    height: 40px;
    background-color: azure;
    border-radius: 15px;
    line-height: 40px;
    text-align: center;
}