*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
    padding-left: 0;
}

.back{
    position: relative;
    width: 1440px;
    height: 100%;
}

.front{
    left: 100px;
    position: absolute;
    width: 1240px;

}

header{
    width: 1240px;
    height: 70px;
    display: flex;
}

.logo{
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;     
}

.logo a{
    font-size: 36px;
    font-weight: 900;
}

nav{
    width: 840px;
    height: 100%;
}

nav ul{
    float: right;
    width: 640px;
    height: 100%;
    display: flex;
}

nav li{
    width: 160px;
    height: 100%;
    line-height: 70px;
    text-align: center;
    font-weight: 700;
    transition: all 0.2s;
}

nav li:hover{
    border-bottom: 2px solid orange;
}

.button{
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
}

.button button{
    position: absolute;
    right: 0;
    width: 120px;
    height: 35px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #fff;
    font-weight: 700;
    transition: all 0.3s;
}

.button button:hover{
    background-color: black;
    color: #fff;
}

main{
    width: 1240px;
    height: 690px;
    display: flex;
}

.content{
    width: 50%;
    height: 100%;
}

.content h1{
    padding-top: 100px;
    font-size: 56px;
}

.content > p{
    padding-top: 30px;
    font-weight: 700;
    opacity: 0.5;
}

.content button{
    margin-top: 30px;
    width: 180px;
    height: 50px;
    background: linear-gradient(to right, black, grey);
    color: #fff;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content button p{
    font-weight: 900;
    padding-right: 10px;
}

.content button img{
    width: 30px;
    height: 30px;
}

.container{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container img{
    width: 90%;
    height: 85%;
}