*{
    margin: 0;
    padding: 0;
}

ul li{
    padding-left: 0;
    list-style: none;
}

header{
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    background-color: darkblue;
    color: #fff;
}

.logo{
    width: 300px;
    height: 100%;
    text-align: center;
    align-content: center;
}

.logo p{
    font-size: 32px;
}

.logo p span{
    font-weight: bold;
}

.null{
    width: 640px;
}

nav{
    width: 900px;
    height: 100%;
}

nav ul{
    width: 100%;
    height: 100%;
    display: flex;
}

nav ul li{
    padding: 0 32px;
    font-size: 20px;
    text-align: center;
    align-content: center;
}

nav ul li:hover{
    opacity: 0.5;
    cursor: pointer;
}

.icon{
    width: 50px;
    height: 100px;
    text-align: center;
    align-content: center;
    font-size: 28px;
    cursor: pointer;
}

.hi-box{
    position: absolute;
    top: 0px;
    right: 0;
    width: 0px;
    height: 100px;
    background-color: darkblue;
    transition: all 0.5s ease-in;
    visibility: hidden;
}

.input-box{
    position: absolute;
    top: 15px;
    right: 20px;
    visibility: hidden;
    width: 0;
    background-color: #222;
    z-index: 2;
    overflow: hidden;
    transition: all 0.5s ease-in;
    display: flex;
}

.input-box .fa-magnifying-glass{
    padding: 0 5px 0 25px;
    text-align: center;
    align-content: center;
    font-size: 28px;
}

.input-box input{
    width: 1000px;
    height: 70px;
    border: none;
    background-color: #222;
    color: #fff;
    padding-left: 15px;
    font-size: 20px;
    border-radius: 10px;
}

.input-box input:focus{
    outline: none;
}

.input-box .close{
    padding: 0 25px 0 5px;
    text-align: center;
    align-content: center;
    font-size: 28px;
}

#modal:checked~.hi-box{
    width: 1100px;
    visibility: visible;
}

#modal:checked~.input-box{
    transition-delay: 0.7s;
    width: 1000px;
    visibility: visible;
}