body {
    background: #ffffff;
  }
  
  .Taegeukgi {
    position: relative;
    margin: 50px auto;
    width: 600px;
    height: 400px;
  }
  
  .Taegeukgi .semicircle .red { 
    position: absolute; 
    top: 160px;
    width: 400px; 
    height: 200px; 
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
    background: #ff0000;
    transform:rotate(33deg);
  }
  
  .Taegeukgi .semicircle .blue { 
    position: absolute; 
    left: -106px;
    top: 324px;
    width: 400px; 
    height: 200px; 
    border-bottom-right-radius: 200px;
    border-bottom-left-radius: 200px;
    background: #0000ff;
    transform:rotate(33deg);
  }
  
  .Taegeukgi .circle .blue { 
    position: absolute; 
    left: 138px;
    top: 285px;
    width: 200px; 
    height: 200px; 
    border-radius: 100%;
    background: #0000ff;
    transform:rotate(33deg);
  }
  
  .Taegeukgi .circle .red { 
    position: absolute; 
    left: -42px;
    top: 197px;
    width: 200px; 
    height: 200px; 
    border-radius: 100%;
    background: #ff0000;
    transform:rotate(33deg);
  }