*{
    padding: 0;
    margin: 0;
}

ul li{
    padding-left: 0;
    list-style: none;
}

label{
    display: block;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 300px;
    border: 1px solid black;
    overflow: hidden;
}

.slide{
    position: relative;
    width: 1200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 1s;
}

.slide li{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    text-align: center;
    line-height: 150px;
    font-size: 36px;
}

.nextBtn{
    position: absolute;
    visibility: hidden;
    width: 100px;
    height: 40px;
    background-color: black;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    transition: all 1s;
    opacity: 0;
}

#next1:checked~.next2,
#next2:checked~.next3,
#next3:checked~.next4,
#next4:checked~.next5,
#next5:checked~.next6,
#next6:checked~.next6{
    visibility: visible;
    opacity: 1;
}

#next1:checked~.slide{
    left: 600px;
}

#next2:checked~.slide{
    left: 400px;
}

#next3:checked~.slide{
    left: 200px;
}

#next4:checked~.slide{
    left: 0px;
}

#next5:checked~.slide{
    left: -200px;
}

#next6:checked~.slide{
    left: -400px;
}