*{
    padding: 0;
    margin: 0 auto;
}

main{
    width: 1200px;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
}

.logo{
    width: 200px;
    height: 100px;
    background-color: #00E3DD;
}

nav{
    width: 1000px;
    height: 100px;
    background-color: #00C5E6;
}

.imgSlide{
    width: 100%;
    height: 300px;
    background-color: aquamarine;
}

.content{
    width: 100%;
    height: 200px;
    display: flex;
}

.con{
    width: 400px;
    height: 200px;
}

.tebmenu{
    background-color: #00A4E7;
}

.banner{
    background-color: #0081DC;
}

.shortcut{
    background-color: #1e5ABF;
}

footer{
    width: 100%;
    height: 100px;
    display: flex;
}

.copyright{
    width: 800px;
    height: 100px;
    background-color: #00C5E6;
}

.sns{
    width: 200px;
    height: 100px;
    background-color: #00E3DD;
}