*{
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
}

.wrap{
    width: 100%;
    height: calc(100vh - 120px);
    background-color: aquamarine;
    display: flex;
}

header{
    width: 200px;
    height: 100%;
    background-color: #F4E7FB;
}

.logo{
    width: 200px;
    height: 120px;
    background-color: #F4E7FB;
}

nav{
    width: 200px;
    height: calc(100% - 120px);
    background-color: #111;
}

.content{
    width: 400px;
    height: 100%;
    background-color: #fff;
}

.banner{
    width: 100%;
    height: 150px;
    background-color: #F5BCBA;
}

.notice{
    width: 100%;
    height: 280px;
    background-color: #E3AADD;
}

.gall{
    width: 100%;
    height: 280px;
    background-color: #C8A8E9;
}

.imgBox{
    width: 100%;
    height: calc(100% - 710px);
    background-color: #C3C7F3;
}

.slide{
    width: calc(100% - 600px);
    height: 100%;
    background-color: #F3DCDC;
}

footer{
    width: 100%;
    height: 120px;
    background-color: #444;
    display: flex;
}

.footContainer{
    width: calc(100% - 200px);
    height: 120px;
}

.footnav{
    width: 100%;
    height: 60px;
    background-color: #222;
}

.copy{
    width: 100%;
    height: 60px;
    background-color: #333;
}