*{
    padding: 0;
    margin: 0;
}

.father{
    width: 100%;
    height: 100vh;
}

.son{
    width: 400px;
    height: 300px;
    border: 2px solid black;
}

/* 1번 방법 */
.father{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 2번 방법 */
.son{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}