/* top5 영역 */
.best {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
}

.best-container {
    margin-top: 140px;
    width: 1280px;
}

.best-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}

.best-comment {
    text-align: center;
    font-size: 20px;
    margin-bottom: 70px;
}

/* top5 콘텐츠 */
.best-contents {
    width: 100%;
    display: flex;
    justify-content: center;
}

.best-contents > div > div {
    display: flex;
}

.best-box {
    position: relative;
    width: 400px;
    height: 250px;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.4s ease-out;
}

.best-box img {
    width: 120%;
}

.best-box:nth-of-type(2) img {
    width: 180%;
}

/* best 텍스트 정보 */
.best-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    padding: 15px;
    transform: translateY(200px);
    transition: 0.4s ease-out;
}

.best-place {
    color: #eee;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.best-intro {
    color: #eee;
    font-size: 15px;
    font-weight: 200;
    line-height: 25px;
}

/* 순위 */
.rank {
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    background-color: #007fa8;
    font-size: 25px;
    font-weight: bold;
    color: #eee;
    text-align: center;
    line-height: 35px;
    transition: 0.4s ease-out;
    opacity: 0;
}

/* 모달 */
.best-modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    cursor: pointer;
}

.best-modal:hover ~ .best-info {
    transform: translateY(40px);
}
.best-modal:hover ~ .rank {
    opacity: 1;
}

.best-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    z-index: -1;
}
#show-one:checked ~ .best-wrap,
#show-two:checked ~ .best-wrap,
#show-three:checked ~ .best-wrap,
#show-four:checked ~ .best-wrap,
#show-five:checked ~ .best-wrap {
    visibility: visible;
    z-index: 2;
}

#show-one:checked ~ .best > .best-container > .best-contents > div > div:nth-of-type(1) > .best-box:nth-of-type(1),
#show-two:checked ~ .best > .best-container > .best-contents > div > div:nth-of-type(1) > .best-box:nth-of-type(2),
#show-three:checked ~ .best > .best-container > .best-contents > div > div:nth-of-type(1) > .best-box:nth-of-type(3),
#show-four:checked ~ .best > .best-container > .best-contents > div > div:nth-of-type(2) > .best-box:nth-of-type(1),
#show-five:checked ~ .best > .best-container > .best-contents > div > div:nth-of-type(2) > .best-box:nth-of-type(2) {
    transform: scale(1.5);
    z-index: 3;
}

.close-best {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.close-best img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}