*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    padding-left: 0%;
}

main{
    width: 100%;
    height: 765px;
    background-color: lightpink;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back{
    width: 95%;
    height: 90%;
    border-radius: 20px;
    border: 7px solid black;
    display: flex;
    background-color: #fff;
}

.content{
    width: 35%;
    height: 100%;
}

header{
    width: 100%;
    height: 70px;
    display: flex;
}

.logo{
    width: 45%;
    height: 100%;
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    line-height: 65px;
    color: lightseagreen;
    text-shadow: 0.5px 0.5px 1px black;
}

nav{
    width: 55%;
    height: 100%;
}

nav ul{
    width: 260px;
    height: 100%;
    display: flex;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-align: center;
}

nav li{
    width: 65px;
}

.textBox{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textBox h1{
    position: relative;
    font-weight: 900;
    text-shadow: 1px 1px 1px black;
}

.textBox span{
    top: 280px;
    left: 120px;
    position: absolute;
    font-weight: 700;
}

.imgBox{
    position: relative;
    width: 65%;
    height: 100%;
}

.imgBox img{
    width: 100%;
    height: 100%;
}

.box{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70px;
    height: 60px;
    background-color: black;
    color: #fff;
    padding: 30px;
}

.box h3{
    margin-top: 100px;
}